<!doctype html>
<head>
<style>
.button {
    background-color: #4CAF50;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.center {
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  margin-bottom: 3%;
  text-align:center;
}

.center2 {
  text-align:center;
}
</style>
<title>Hauptraum-AV</title>
<meta http-equiv="refresh" content="5; url=/" />
</head>

<body>
<div class="center">
  {{ msg }}
</div>

<div class="center">
  <a href="/" class="button" style="width:12%; background-color:#008CBA;">Zur&uuml;ck</a>
</div>
</body>
